# Data Cleaning

In [36]:
import pandas as pd
import numpy as np
import sys
import os,re

from sqlalchemy import create_engine
from dotenv import load_dotenv

import warnings
warnings.filterwarnings('ignore')

import joblib
from sklearn.preprocessing import LabelEncoder

In [37]:
load_dotenv()
DATABASE_URL = os.getenv("DATABASE_URL", "postgresql://postgres:postgres@localhost:5432/f1_db")

engine = create_engine(DATABASE_URL.replace("postgresql+asyncpg://", "postgresql://"))

### Loading raw data

In [38]:
print("\nLoading data...")

query = """
SELECT 
    rr.id as result_id, rr.position, rr.grid_position, rr.points, rr.laps_completed, rr.fastest_lap_rank,
    rr.status, rr.is_sprint,
    d.id as driver_id, d.code as driver_code, d.driver_number, d.nationality as driver_nationality,
    EXTRACT(YEAR FROM AGE(r.race_date, d.date_of_birth)) as driver_age,
    d.championships as driver_championships,
    t.id as team_id, t.name as team_name,
    r.id as race_id, r.season, r.round_number, r.race_name, r.circuit_location, r.country,
    r.circuit_type, r.laps as total_laps, r.circuit_length, r.has_sprint, r.race_date,
    qr.position as quali_position, qr.q1_time, qr.q2_time, qr.q3_time
FROM race_results rr
JOIN drivers d ON rr.driver_id = d.id
JOIN teams t ON rr.team_id = t.id
JOIN races r ON rr.race_id = r.id
LEFT JOIN qualifying_results qr ON rr.race_id = qr.race_id AND rr.driver_id = qr.driver_id
WHERE rr.is_sprint = False
ORDER BY r.season, r.round_number, rr.position;
"""

df = pd.read_sql(query, engine)
print(f"✅ Loaded {len(df)} records with qualifying data")
print(f"   Qualifying data coverage: {df['quali_position'].notna().sum()} / {len(df)}")

Loading data...
✅ Loaded 845 records with qualifying data
   Qualifying data coverage: 845 / 845

In [39]:
df.head()

,result_id,position,grid_position,points,laps_completed,fastest_lap_rank,status,is_sprint,driver_id,driver_code,...,country,circuit_type,total_laps,circuit_length,has_sprint,race_date,quali_position,q1_time,q2_time,q3_time
0,1,1,1,26.0,57,1.0,Finished,False,1,VER,...,Bahrain,None,None,None,0,2024-03-02,1,0 days 00:01:30.031000,0 days 00:01:29.374000,0 days 00:01:29.179000
1,2,2,5,18.0,57,4.0,Finished,False,2,PER,...,Bahrain,None,None,None,0,2024-03-02,5,0 days 00:01:30.221000,0 days 00:01:29.932000,0 days 00:01:29.537000
2,3,3,4,15.0,57,6.0,Finished,False,3,SAI,...,Bahrain,None,None,None,0,2024-03-02,4,0 days 00:01:29.909000,0 days 00:01:29.573000,0 days 00:01:29.507000
3,4,4,2,12.0,57,2.0,Finished,False,4,LEC,...,Bahrain,None,None,None,0,2024-03-02,2,0 days 00:01:30.243000,0 days 00:01:29.165000,0 days 00:01:29.407000
4,5,5,3,10.0,57,12.0,Finished,False,5,RUS,...,Bahrain,None,None,None,0,2024-03-02,3,0 days 00:01:30.350000,0 days 00:01:29.922000,0 days 00:01:29.485000

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 845 entries, 0 to 844
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   result_id             845 non-null    int64
 1   position              845 non-null    int64
 2   grid_position         845 non-null    int64
 3   points                845 non-null    float64
 4   laps_completed        845 non-null    int64
 5   fastest_lap_rank      821 non-null    float64
 6   status                845 non-null    object
 7   is_sprint             845 non-null    bool
 8   driver_id             845 non-null    int64
 9   driver_code           845 non-null    object
 10  driver_number         845 non-null    int64
 11  driver_nationality    845 non-null    object
 12  driver_age            845 non-null    float64
 13  driver_championships  845 non-null    int64
 14  team_id               845 non-null    int64
 15  team_name             845 non-null    object
 16  race_id               845 non-null    int64
 17  season                845 non-null    int64
 18  round_number          845 non-null    int64
 19  race_name             845 non-null    object
 20  circuit_location      845 non-null    object
 21  country               845 non-null    object
 22  circuit_type          0 non-null      object
 23  total_laps            0 non-null      object
 24  circuit_length        0 non-null      object
 25  has_sprint            845 non-null    int64
 26  race_date             845 non-null    object
 27  quali_position        845 non-null    int64
 28  q1_time               845 non-null    object
 29  q2_time               845 non-null    object
 30  q3_time               845 non-null    object
dtypes: bool(1), float64(3), int64(13), object(14)
memory usage: 199.0+ KB

## Temporal Weighting : 
- Give recent races higher weight using exponential decay 
- Makes model focus on recent driver/team performance
<pre>
1) First calculate days since last race
2) Exponential delay function to get temporal weights:
        Half life of 180 days
        i.e. A race of 0 days ago will have weight of 1
             A race of 180 days ago will have weight of 0.5  
3) Calculate season weights as recent season performances are more important
        Recent 2025 season has weight 1
        2024 season has weight 0.7
        Rest all (if any) have weight 0.5
4) Multiply temporal and season weights to get final sample weights

In [41]:
df['race_date'] = pd.to_datetime(df['race_date'])
most_recent_race = df['race_date'].max()
df['days_since_race'] = (most_recent_race - df['race_date']).dt.days

half_life = 180
df['temporal_weight'] = np.exp(-np.log(2) * df['days_since_race'] / half_life)
df['season_weight'] = df['season'].apply(lambda x: {2024:0.7 , 2025:1}.get(x,0.5))
df['sample_weight'] = df['temporal_weight'] * df['season_weight']

In [47]:
print(df[['season','temporal_weight','season_weight','sample_weight']].head())

   season  temporal_weight  season_weight  sample_weight
0    2024         0.098073            0.7       0.068651
1    2024         0.098073            0.7       0.068651
2    2024         0.098073            0.7       0.068651
3    2024         0.098073            0.7       0.068651
4    2024         0.098073            0.7       0.068651

### Qualifying feature Engineering:
- Incorporates qualifying performance (Q1–Q3), grid penalties, and relative speed to pole.

<pre>
1) Clean data : If any driver is found having a mmissing quali position (happens if they crashed in q1/q2 or didnt set a time),
                it is filled with their grid position.
2) Grid penalty is calculated 
3) Normalize qualifying position.
        Pole Position (P1) becomes 1/20 = 0.05 (the "best" score).
        Last Place (P20) becomes 20/20 = 1.0 (the "worst" score).   
4) Conver lap time strings to numerical format for calculation
5) Calculate gap_to_pole to measure pure,relative pace against the fastest car

In [ ]:
df['quali_position'].fillna(df['grid_position'],inplace=True)
df['grid_penalty'] = df['grid_position'] - df['quali_position']
df['quali_performance'] = df['quali_position']/20

laptime_pattern = re.compile(r'(\d{2}):(\d{2}):(\d{2}\.\d+)')

def parse_laptime_from_string(time_str):
    if pd.isna(time_str):
        return None
    
    try:
        match = laptime_pattern.search(str(time_str))
        
        if match:
            hours = int(match.group(1))   
            minutes = int(match.group(2)) 
            seconds = float(match.group(3)) 
            
            return (hours * 3600) + (minutes * 60) + seconds
        else:
            return None
    except:
        return None

df['q3_seconds'] = df['q3_time'].apply(parse_laptime_from_string)
df['q3_gap_to_pole'] = df.groupby('race_id')['q3_seconds'].transform(
    lambda x: x - x.min() if x.notna().sum() > 0 else np.nan
)

In [46]:
print(df[['quali_position','grid_position','grid_penalty','q3_time','q3_seconds','q3_gap_to_pole']].head())

   quali_position  grid_position  grid_penalty                 q3_time  \
0               1              1             0  0 days 00:01:29.179000
1               5              5             0  0 days 00:01:29.537000
2               4              4             0  0 days 00:01:29.507000
3               2              2             0  0 days 00:01:29.407000
4               3              3             0  0 days 00:01:29.485000

   q3_seconds  q3_gap_to_pole
0      89.179           0.000
1      89.537           0.358
2      89.507           0.328
3      89.407           0.228
4      89.485           0.306

In [ ]:
df